n8n-workflows-backup.json
{"data":[{"updatedAt":"2026-05-18T05:22:41.221Z","createdAt":"2026-05-09T20:31:26.898Z","id":"9TsMtTLkxyimepDg","name":"My workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-webhook","responseMode":"responseNode","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/xml; charset=utf-8"}]}}},"id":"8cd3b165-9742-407b-9fc6-93775c8c3e25","name":"📲 WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1328,384],"webhookId":"65290b1d-7afc-4ffb-a693-63b9298042bf","notes":"Recibe mensajes entrantes desde WhatsApp Business API o Twilio. El body trae: From (número), Body (mensaje), ProfileName (nombre contacto)."},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json.Body || {};\n\nconst mensaje = body.Body || body.message || body.text || '';\nconst numero = body.From || body.from || '';\nconst nombre = body.ProfileName || body.profile_name || 'Paciente';\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    mensaje: mensaje.trim(),\n    numero: numero.replace('whatsapp:', ''),\n    nombre: nombre,\n    timestamp: timestamp,\n    mensaje_lower: mensaje.toLowerCase().trim()\n  }\n}];"},"id":"9aab0b63-89eb-4224-bb86-8ec9d7d0d520","name":"🔧 Normalizar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,384],"notes":"Limpia y normaliza los datos entrantes independiente de si viene de Twilio, WhatsApp Cloud API o Meta."},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"es-calificado","leftValue":"={{ $json.calificado }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"ce65f782-4a05-4d72-826b-7418ae3f613d","name":"🔀 ¿Lead Calificado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-448,384],"notes":"Separa el flujo: leads calificados van a notificación + agenda. No calificados van a respuesta informativa."},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"urgencia-alta","leftValue":"={{ $json.urgencia }}","rightValue":"alta","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"78c7bb80-1fe7-4581-9a5e-859d776fe17b","name":"⚡ ¿Urgencia Alta?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,240],"notes":"Si urgencia es alta, envía respuesta con link de agendamiento directo. Si es media/baja, envía respuesta consultiva."},{"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+14155238886"},{"name":"To","value":"=whatsapp:+56932446500"},{"name":"Body","value":"=={{ $json.respuesta }}"}]},"options":{},"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth"},"id":"5e4e3e27-8c3d-4ce5-9b1a-fa80236d1687","name":"💬 Responder — Con Agenda","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,160],"notes":"Envía la respuesta de la IA + link de Calendly para agendar directamente. Variables de entorno: TWILIO_ACCOUNT_SID, TWILIO_WHATSAPP_NUMBER, CALENDLY_LINK.","credentials":{"httpBasicAuth":{"id":"e19lyzgcCdZ6WBo5","name":"Twilio API"}}},{"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+14155238886"},{"name":"To","value":"=whatsapp:+56932446500"},{"name":"Body","value":"=={{ $json.respuesta }}"}]},"options":{},"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth"},"id":"3eff6aae-2a45-4fbb-8a04-6f04a6e87d3a","name":"💬 Responder — Consultivo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,384],"notes":"Respuesta más suave para leads de urgencia media/baja. Invita a seguir la conversación sin presionar.","credentials":{"httpBasicAuth":{"id":"e19lyzgcCdZ6WBo5","name":"Twilio API"}}},{"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+14155238886"},{"name":"To","value":"=whatsapp:+56932446500"},{"name":"Body","value":"=={{ $json.respuesta }}"}]},"options":{},"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth"},"id":"e348c762-b43c-40a7-a7d9-2516ca5fefd0","name":"💬 Responder — General","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-224,544],"notes":"Respuesta para mensajes no relevantes o muy genéricos. Invita a continuar la conversación.","credentials":{"httpBasicAuth":{"id":"e19lyzgcCdZ6WBo5","name":"Twilio API"}}},{"parameters":{"method":"POST","url":"={{ $env.SLACK_WEBHOOK_URL }}","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"14fcbb73-03db-48d8-927f-4d00131fd339","name":"🔔 Notificar Clínica","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,0],"notes":"Envía alerta a Slack o puede cambiarse por email/WhatsApp interno. Variable: SLACK_WEBHOOK_URL."},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1LT0fPFZKqWXW5TJ4f0ISPBhOIStlU7uaeP06Wjhn0fc"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"=={{ $json.lead_id }}","fecha":"=={{ $json.lead_id }}","nombre":"=={{ $json.nombre }}","numero":"=={{ $json.numero }}","intencion":"=={{ $json.intencion }}","procedimiento":"=={{ $json.procedimiento }}","urgencia":"=={{ $json.urgencia }}","calificado":"=={{ $json.urgencia }}","mensaje":"=={{ $json.mensaje }}","estado":"==Nuevo"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"intencion","displayName":"intencion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"procedimiento","displayName":"procedimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"urgencia","displayName":"urgencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"calificado","displayName":"calificado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"fef2ae90-3025-46b6-8a4b-ba25fac58d10","name":"📋 Guardar en CRM (Google Sheets)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-448,608],"credentials":{"googleSheetsOAuth2Api":{"id":"ribpesc7WO7ym8BY","name":"Google Sheets account"}},"notes":"Registra TODOS los leads (calificados o no) en Google Sheets. Variable: GOOGLE_SHEET_ID. Columnas: lead_id, fecha, nombre, numero, mensaje, intencion, procedimiento, urgencia, calificado, estado."},{"parameters":{"respondWith":"text","responseBody":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>","options":{"responseCode":200}},"id":"45e1f9e9-383f-4a97-882b-54af7a5f1a14","name":"✅ Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[224,384],"notes":"Responde 200 OK al webhook de WhatsApp para confirmar recepción."},{"parameters":{"jsCode":"const response = $input.first().json;\nconst textBlock = response.content && response.content[0] ? response.content[0].text : '';\n\nlet calificacion;\ntry {\n  const jsonMatch = textBlock.match(/\\{[\\s\\S]*\\}/);\n  calificacion = jsonMatch ? JSON.parse(jsonMatch[0]) : null;\n} catch(e) {\n  calificacion = null;\n}\n\nif (!calificacion) {\n  calificacion = {\n    intencion: 'informacion',\n    procedimiento: null,\n    urgencia: 'baja',\n    calificado: false,\n    respuesta: 'Hola, gracias por contactarnos.'\n  };\n}\n\nreturn [{\n  json: {\n    ...calificacion,\n    numero: '+56932446500',\n    nombre: 'Paciente',\n    lead_id: `LEAD-${Date.now()}`,\n    procesado_en: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,384],"id":"f03ee5f1-4d6e-4fb7-9ea4-c1c77b00e462","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 500,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Analiza este mensaje de WhatsApp para una clínica estética y responde SOLO en JSON con estos campos: intencion, procedimiento, urgencia (alta/media/baja), calificado (true/false), respuesta. Mensaje: {{ $json.mensaje }} Nombre: {{ $json.nombre }}\"\n  }]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-896,384],"id":"4cf4c290-0a3f-4163-80d4-1eeba2dc8f9e","name":"HTTP Request"}],"connections":{"📲 WhatsApp Webhook":{"main":[[{"node":"🔧 Normalizar Datos","type":"main","index":0}]]},"🔀 ¿Lead Calificado?":{"main":[[{"node":"⚡ ¿Urgencia Alta?","type":"main","index":0}],[{"node":"💬 Responder — General","type":"main","index":0},{"node":"📋 Guardar en CRM (Google Sheets)","type":"main","index":0}]]},"⚡ ¿Urgencia Alta?":{"main":[[{"node":"💬 Responder — Con Agenda","type":"main","index":0},{"node":"🔔 Notificar Clínica","type":"main","index":0}],[{"node":"💬 Responder — Consultivo","type":"main","index":0}]]},"💬 Responder — Con Agenda":{"main":[[{"node":"✅ Webhook Response","type":"main","index":0}]]},"💬 Responder — Consultivo":{"main":[[{"node":"✅ Webhook Response","type":"main","index":0}]]},"💬 Responder — General":{"main":[[{"node":"✅ Webhook Response","type":"main","index":0}]]},"🔧 Normalizar Datos":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"🔀 ¿Lead Calificado?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"💬 Responder — Consultivo":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"b984a786-2f18-43d1-a1f1-7199aad19a9f","activeVersionId":"b984a786-2f18-43d1-a1f1-7199aad19a9f","triggerCount":1,"shared":[{"updatedAt":"2026-05-09T20:31:26.899Z","createdAt":"2026-05-09T20:31:26.899Z","role":"workflow:owner","workflowId":"9TsMtTLkxyimepDg","projectId":"1IRs3DeHf73NcayH"}],"activeVersion":{"updatedAt":"2026-05-18T05:22:41.221Z","createdAt":"2026-05-18T05:22:41.221Z","versionId":"b984a786-2f18-43d1-a1f1-7199aad19a9f","workflowId":"9TsMtTLkxyimepDg","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-webhook","responseMode":"responseNode","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/xml; charset=utf-8"}]}}},"id":"8cd3b165-9742-407b-9fc6-93775c8c3e25","name":"📲 WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1328,384],"webhookId":"65290b1d-7afc-4ffb-a693-63b9298042bf","notes":"Recibe mensajes entrantes desde WhatsApp Business API o Twilio. El body trae: From (número), Body (mensaje), ProfileName (nombre contacto)."},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json.Body || {};\n\nconst mensaje = body.Body || body.message || body.text || '';\nconst numero = body.From || body.from || '';\nconst nombre = body.ProfileName || body.profile_name || 'Paciente';\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    mensaje: mensaje.trim(),\n    numero: numero.replace('whatsapp:', ''),\n    nombre: nombre,\n    timestamp: timestamp,\n    mensaje_lower: mensaje.toLowerCase().trim()\n  }\n}];"},"id":"9aab0b63-89eb-4224-bb86-8ec9d7d0d520","name":"🔧 Normalizar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,384],"notes":"Limpia y normaliza los datos entrantes independiente de si viene de Twilio, WhatsApp Cloud API o Meta."},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"es-calificado","leftValue":"={{ $json.calificado }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"ce65f782-4a05-4d72-826b-7418ae3f613d","name":"🔀 ¿Lead Calificado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-448,384],"notes":"Separa el flujo: leads calificados van a notificación + agenda. No calificados van a respuesta informativa."},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"urgencia-alta","leftValue":"={{ $json.urgencia }}","rightValue":"alta","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"78c7bb80-1fe7-4581-9a5e-859d776fe17b","name":"⚡ ¿Urgencia Alta?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,240],"notes":"Si urgencia es alta, envía respuesta con link de agendamiento directo. Si es media/baja, envía respuesta consultiva."},{"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+14155238886"},{"name":"To","value":"=whatsapp:+56932446500"},{"name":"Body","value":"=={{ $json.respuesta }}"}]},"options":{},"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth"},"id":"5e4e3e27-8c3d-4ce5-9b1a-fa80236d1687","name":"💬 Responder — Con Agenda","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,160],"notes":"Envía la respuesta de la IA + link de Calendly para agendar directamente. Variables de entorno: TWILIO_ACCOUNT_SID, TWILIO_WHATSAPP_NUMBER, CALENDLY_LINK.","credentials":{"httpBasicAuth":{"id":"e19lyzgcCdZ6WBo5","name":"Twilio API"}}},{"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+14155238886"},{"name":"To","value":"=whatsapp:+56932446500"},{"name":"Body","value":"=={{ $json.respuesta }}"}]},"options":{},"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth"},"id":"3eff6aae-2a45-4fbb-8a04-6f04a6e87d3a","name":"💬 Responder — Consultivo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,384],"notes":"Respuesta más suave para leads de urgencia media/baja. Invita a seguir la conversación sin presionar.","credentials":{"httpBasicAuth":{"id":"e19lyzgcCdZ6WBo5","name":"Twilio API"}}},{"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+14155238886"},{"name":"To","value":"=whatsapp:+56932446500"},{"name":"Body","value":"=={{ $json.respuesta }}"}]},"options":{},"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth"},"id":"e348c762-b43c-40a7-a7d9-2516ca5fefd0","name":"💬 Responder — General","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-224,544],"notes":"Respuesta para mensajes no relevantes o muy genéricos. Invita a continuar la conversación.","credentials":{"httpBasicAuth":{"id":"e19lyzgcCdZ6WBo5","name":"Twilio API"}}},{"parameters":{"method":"POST","url":"={{ $env.SLACK_WEBHOOK_URL }}","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"14fcbb73-03db-48d8-927f-4d00131fd339","name":"🔔 Notificar Clínica","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,0],"notes":"Envía alerta a Slack o puede cambiarse por email/WhatsApp interno. Variable: SLACK_WEBHOOK_URL."},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1LT0fPFZKqWXW5TJ4f0ISPBhOIStlU7uaeP06Wjhn0fc"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"=={{ $json.lead_id }}","fecha":"=={{ $json.lead_id }}","nombre":"=={{ $json.nombre }}","numero":"=={{ $json.numero }}","intencion":"=={{ $json.intencion }}","procedimiento":"=={{ $json.procedimiento }}","urgencia":"=={{ $json.urgencia }}","calificado":"=={{ $json.urgencia }}","mensaje":"=={{ $json.mensaje }}","estado":"==Nuevo"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"intencion","displayName":"intencion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"procedimiento","displayName":"procedimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"urgencia","displayName":"urgencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"calificado","displayName":"calificado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"fef2ae90-3025-46b6-8a4b-ba25fac58d10","name":"📋 Guardar en CRM (Google Sheets)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-448,608],"credentials":{"googleSheetsOAuth2Api":{"id":"ribpesc7WO7ym8BY","name":"Google Sheets account"}},"notes":"Registra TODOS los leads (calificados o no) en Google Sheets. Variable: GOOGLE_SHEET_ID. Columnas: lead_id, fecha, nombre, numero, mensaje, intencion, procedimiento, urgencia, calificado, estado."},{"parameters":{"respondWith":"text","responseBody":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>","options":{"responseCode":200}},"id":"45e1f9e9-383f-4a97-882b-54af7a5f1a14","name":"✅ Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[224,384],"notes":"Responde 200 OK al webhook de WhatsApp para confirmar recepción."},{"parameters":{"jsCode":"const response = $input.first().json;\nconst textBlock = response.content && response.content[0] ? response.content[0].text : '';\n\nlet calificacion;\ntry {\n  const jsonMatch = textBlock.match(/\\{[\\s\\S]*\\}/);\n  calificacion = jsonMatch ? JSON.parse(jsonMatch[0]) : null;\n} catch(e) {\n  calificacion = null;\n}\n\nif (!calificacion) {\n  calificacion = {\n    intencion: 'informacion',\n    procedimiento: null,\n    urgencia: 'baja',\n    calificado: false,\n    respuesta: 'Hola, gracias por contactarnos.'\n  };\n}\n\nreturn [{\n  json: {\n    ...calificacion,\n    numero: '+56932446500',\n    nombre: 'Paciente',\n    lead_id: `LEAD-${Date.now()}`,\n    procesado_en: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,384],"id":"f03ee5f1-4d6e-4fb7-9ea4-c1c77b00e462","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 500,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Analiza este mensaje de WhatsApp para una clínica estética y responde SOLO en JSON con estos campos: intencion, procedimiento, urgencia (alta/media/baja), calificado (true/false), respuesta. Mensaje: {{ $json.mensaje }} Nombre: {{ $json.nombre }}\"\n  }]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-896,384],"id":"4cf4c290-0a3f-4163-80d4-1eeba2dc8f9e","name":"HTTP Request"}],"connections":{"📲 WhatsApp Webhook":{"main":[[{"node":"🔧 Normalizar Datos","type":"main","index":0}]]},"🔀 ¿Lead Calificado?":{"main":[[{"node":"⚡ ¿Urgencia Alta?","type":"main","index":0}],[{"node":"💬 Responder — General","type":"main","index":0},{"node":"📋 Guardar en CRM (Google Sheets)","type":"main","index":0}]]},"⚡ ¿Urgencia Alta?":{"main":[[{"node":"💬 Responder — Con Agenda","type":"main","index":0},{"node":"🔔 Notificar Clínica","type":"main","index":0}],[{"node":"💬 Responder — Consultivo","type":"main","index":0}]]},"💬 Responder — Con Agenda":{"main":[[{"node":"✅ Webhook Response","type":"main","index":0}]]},"💬 Responder — Consultivo":{"main":[[{"node":"✅ Webhook Response","type":"main","index":0}]]},"💬 Responder — General":{"main":[[{"node":"✅ Webhook Response","type":"main","index":0}]]},"🔧 Normalizar Datos":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"🔀 ¿Lead Calificado?","type":"main","index":0}]]}},"authors":"sebastian bravo","name":null,"description":null,"autosaved":false},"tags":[]}],"nextCursor":null}